extends layout

block bodyScripts
  script(type='text/javascript').
   $('#downloadButton').on('click', function() {
      var csvContent = "data:text/csv;charset=utf-8,";

      // Extract all rows and cells from the table
        $('#uniqueContentTableId tr').each(function(index, row) {
            var cols = $(row).find('td, th');
            cols.each(function(index, col) {
                // Check if the cell contains commas
                var cellText = $(col).text();
                if (cellText.includes(',')) {
                    // If the cell contains commas, wrap it in double quotes
                    csvContent += '"' + cellText + '"';
                } else {
                    csvContent += cellText;
                }
                csvContent += ",";
            });
            csvContent += "\n";
        });

        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "table.csv");
        document.body.appendChild(link);

        link.click();
    });

block content
  - var tocPointers = [];
  .jumbotron.wicked-content-title
    .container.wicked-title-container
        h1= title
        if subTitle
            != subTitle

  .container.wicked-container.contentBody

    if !authUser
      h4 You are not logged in.

      p.
        Your are currently not logged in. Some pages and APIs may be restricted to logged in users.

      a(href='/login?redirect=/content/toc').btn.btn-primary.btn-lg Log in &raquo;

      br
    br
    br



    if (authUser == undefined) 
      each cat, name in toc
          .panel.panel-default
            .panel-heading
              h4.panel-title= cat.name
            .panel-body
              div(style="max-height: 20vh; overflow: auto")
                ul
                  each entry in cat.entries
                    if (entry.title !== 'API Usage Information' && entry.title !==  'Terms and Conditions' && entry.title !==  'API Status Dashboard')
                        li
                          a(href=entry.url)= entry.title
    
    else if (toc) && authUser.admin 
      each cat, name in toc
        .panel.panel-default.contentBody
          .panel-heading
            h4.panel-title= cat.name
          .panel-body.contentBody
              if cat.name == 'APIs'
                table#uniqueContentTableId
                  thead.panel-heading
                    tr
                      th.panel-heading APIs
                      th.panel-heading Auth
                      th.panel-heading Groups 
                      th.panel-heading Business Segment
                      th.panel-heading Product Group
                      th.panel-heading Tags
                  each entry in cat.entries
                    tr
                      td#skuTableBody
                        a(href=entry.url)= entry.title
                      td#skuTableBody
                        a(href=entry.url)= entry.auth
                      td#skuTableBody
                        a(href=entry.url style="text-transform:capitalize; font-style:normal;")= entry.requiredGroup
                      td#skuTableBody
                        a(href=entry.url)= entry.businessSegment
                      td#skuTableBody
                        a(href=entry.url)= entry.productGroup
                      td#skuTableBody
                        a(href=entry.url)= entry.tags 
                br
              else if cat.name =='Portal Content'
                .panel-body
                  ul
                    each entry in cat.entries
                      if (entry.title !== 'API Usage Information' && entry.title !== 'Terms and Conditions')
                        li
                          a(href=entry.url)= entry.title
                  br
                        
        if cat.name == 'APIs'
          .panel-body
                p
                  button#downloadButton.btn.btn-success(type='button') Download as CSV


    
                      
    else if (toc) && !authUser || !authUser.admin  
      each cat, name in toc
        .panel.panel-default
          .panel-heading
            h4.panel-title= cat.name
          .panel-body
            div(style="max-height: 20vh; overflow: auto")
              ul
                each entry in cat.entries
                  if (entry.title !== 'API Usage Information' && entry.title !==  'Terms and Conditions' && entry.title !==  'API Status Dashboard')
                      li
                        a(href=entry.url)= entry.title